@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Orbitron:wght@500&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}

iframe{
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

h2{
  font-family: 'Exo 2', sans-serif;
  border: 0.125em solid;
  border-color: #1a1a1a;
  padding: .8em 2em;
  border-radius: 100px;
  background: url('../brush-stroke-1/brush-stroke-banner-6.png') no-repeat red;
  background-size: cover;
}

/* flex - layout */
.container{
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.row{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.row-mdl{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.col{
  text-align: center;
  width: 100%;
}

.center{
  display: flex;
  justify-content: center;
}

/* header / intro */

.header-content{
  width: 50%;
}

.header-image{
  margin-top: 2em;
  width: 40%;
  align-self: flex-start;
}

.intro-content-1{
  margin-top: 0.1em;
  padding: 1em 1em;
  width: 100%;
  font-size: 1.3rem;
  box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.intro-image{
  margin-top: 1em;
  width: 35%;
 
  filter: brightness(1.2) grayscale(.95) saturate(2.5);

}

.intro-content{
  width: 100%;
}

.main-content{
  width: 100%;
}

.main-video{
  max-width: 900px;
  width: 100%;

  display: flex;
  align-self: flex-start;
  margin: 0 0;
}

.add-content{
  padding: 2vh 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add-video{
  width: 30%;
  margin: 0 0;
}

/* details */
  /* button */
.btn{
  display: inline-block;
  border: 0.125em solid;
  background-color: #1a1a1a;
  color: #fff;
  padding: .8em 2em;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 100px;
}

.btn:hover,
.btn:focus{
  border: 0.125em solid;
  background-color:#fff;
  color: #1a1a1a; 
  opacity: 1;
}
a.btn{
  text-decoration: none;
  text-transform: uppercase;
}

.h1-font{
  font-weight: 750;
  /*color: hsl(317 100% 54%);*/
  color: #fff;
  text-transform: uppercase;
  font-size:3.5rem;

}

.h2-font{
  /*color: hsl(323 100% 54%);*/
  color: #fff;
  text-align: center;
}

.bg-drk{
  background-color:  #1a1a1a;
}

.bg-img{
  background-image: url("../img/wallpaper.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.txt-wht{
  color: white;
}

.txt-gr{
  color: #3b3b3b;
}

.mrg-tp{
  margin-top: 2em;
}


@media (max-width: 539px){
  .add-content{
    flex-flow: column wrap;
  }
  .add-video{
    width: 100%;
    margin: 0 0;
  }

  .display-none{
    display: none;
  }
}